/**/
*{
  margin: 0;
  padding: 0;
}
form :focus{
  outline: none;
}
html {
   height: 100%;
}
body {    
   background: linear-gradient(127deg, rgba(2,0,36,1) 0%, rgba(9,57,121,1) 16%, rgba(7,93,152,1) 51%, rgba(0,212,255,1) 100%);
}
select { width: 400px;}
.menu,select {
  font-size: 60px
}
#city{
  position: absolute;
width: 80vw;
top: 45vh;
left: 10vw;
height: 20vw;
font-size: 10vw;
border-radius: 50px;
border: 2px solid white;
-webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;       /* remove default arrow */
   text-align: center;
  text-align-last: center;
  font-family: Kelson-Bold;
  color: white;
}
#cinema{
  position: absolute;
width: 80vw;
top: 45vh;
left: 10vw;
height: 20vw;
font-size: 10vw;
border-radius: 50px;
border: 2px solid white;
-webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;       /* remove default arrow */
   text-align: center;
  text-align-last: center;
  font-family: Kelson-Bold;
  color: white;
}
select :focus{
  outline: none;
}
option {
  text-align: left;
}
face face /**/
::-webkit-scrollbar {
  width: 1vw;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
  max-height: 10vh;
  margin-bottom: 17vh;
}
::-webkit-scrollbar-track {
    background-clip: content-box;   /* THIS IS IMPORTANT */
    margin-bottom: 17vh;
}
button:focus {outline:0;}
@font-face {
  font-family: 'Kelson-Bold';
  src: url(KelsonSansBG-Bold.otf);
}
@font-face {
  font-family: 'Kelson-Light';
  src: url(KelsonSansBG-Light.otf);
}
@font-face {
  font-family: 'Kelson-Normal';
  src: url(KelsonSansBG-Normal.otf);
} 
div.scrollmenu {
  position: absolute;
  top: 20vh;
  width: 100vw;
  right: 0vw;
  left: 0vw;
  margin-left: 0;
  margin-right: 0;
  height: 80vh;
  overflow-y: hidden;
  white-space: nowrap;
}
div.scrollmenu div {
  position: relative;
  display: inline-block;
  width: 75vw;
  height: 80vh;
  left: 0vw;
  color: white;
  text-align: center;
  margin-left: 0vw;
  padding: 0;
  margin-right: 0vw;
  text-align: center;
  text-decoration: none;
  font-family: Kelson-Light;
  overflow: hidden;
}
.posterImg{
  position: relative;
  display: block;
  border-radius: 5%;
  left: 0vw;
  width:auto;
  top: 2vh;
  height: 48vh;
  overflow: hidden;
  
} 
.nowPlaying{
  height: 20vh;
  width: 100vw;
  font-family: Kelson-Light;
}
.nowplayingposter{
  position: relative;
  height: 15vh;
  width: 20vw;
  top: 2.5vh;
  left: 2.5vh;
  border-radius: 5px;
}
.nowplayingtitle{
  position: relative;
  left: 10vw;
  top: -6vh; 
  text-align: center;
  color: white;
  font-family: Kelson-Bold;
}
.progress{
  position: relative;
  border: 2px solid white;
  top: -14vh;
  left: 32vw;
  width: 60vw;
   background-color: transparent !important;
   border-radius: 10px !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nowpl{
  position: relative;
  left: 30vw;
  top: -10vh;
  font-weight: 200;
  color: white;
  height: 10vh;
  width: 60vw;
}
.timel{
  position: relative;
  left: 40vw;
  top: -16vh;
  color: white;
}
.nowpl1{
  position: relative;
  left: 30vw;
  top: -10vh;
  font-weight: 200;
  color: white;
  height: 10vh;
  width: 60vw;
}
.timel1{
   position: relative;
  left: 40vw;
  top: -16vh;
  color: white;
}
.buyticket{
  position: relative;
  margin-top: 0vh;
  width: 65vw;
  top: -5vh !important;
  font-size: 2vh;
  font-family: Kelson-Bold;
  border: 2px solid white;
  background-color: transparent !important;
  border-radius: 40px;
  height: 6vh;
}
.buyticket::active{
  position: relative;
  margin-top: 0vh;
  width: 65vw;
  top: -5vh !important;
  font-size: 2vh;
  font-family: Kelson-Bold;
  border: 2px solid white;
  background-color: transparent !important;
  border-radius: 40px;
  height: 6vh;
}
.info{
  position: relative;
  margin-top: 0vh;
  width: 65vw;
  top: -3vh;
  font-size: 2vh;
  font-family: Kelson-Bold;
  border: 2px solid white;
  background-color: transparent !important;
  border-radius: 40px;
  height: 6vh;
}

#progress-vote{
  position: relative;
  border: 2px solid white;
  top: 0;
  left: 0;
  width: 10vh;
  height: 10vh;
   background-color: transparent !important;
   border-radius: 10px !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress-bar-vote{
  margin: 0;
  padding: 0;
  left: 0vw;
}
#progress1{
  position: relative;
  left: -35%;
  top: 2%;
  width: 10vh;
  height: 10vh;
  border-bottom: none !important;
  transform: rotate(180deg);
}
#progress-bar1{
  margin-left: 0;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  right: 0px;
  height: 80% !important;
}
#text1{
  color: white;
  transform: rotate(180deg);
}
#container1{
  position: relative;
  left: 2vw;
  top: -6vh;
  width: 10vh;
  height: 5vh;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-radius: 5px;
}
#text2{
  position: relative;
margin-left: 2vw;
left: 0vw;
font-weight: bold;
top: -0.5vh !important;
width: 50vw !important;
height: 5vh;
border-left: 2px solid white;
border-bottom: 2px solid white;
border-right: 2px solid white;
border-radius:  5px;
overflow: hidden;
margin-bottom: 5vh;
}
#text3{
  position: relative;
margin-left: 2vw;
left: 2vw;
font-weight: bold;
top: -1vh !important;
width: 20vw !important;
height: 5vh;
border-left: 2px solid white;
border-bottom: 2px solid white;
border-right: 2px solid white;
border-radius:  5px;
overflow: hidden;
margin-bottom: 5vh;
}
.flip {
  position: relative;
  left: -10vw !important;
  left: 0vw !important;
    -webkit-perspective: 800;
    width: 100vw !important;
    height: 50vh !important;
    position: relative;
    overflow: auto;
}
.flip .card.flipped {
    -webkit-transform: rotatex(-180deg);
}
.flip .card {
  position: relative;
  left: 0vw;
    width: 100vw !important;
    height: 50vh;
    margin: 0;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    overflow: hidden;
}
.showtimes1{
  position: relative;
  top: 0vh;
  height: 45vh !important;
  width: 75vw !important;
  magin-bottom: 10vh !important;
   display: none ; 
   grid-template: 17.5vw 17.5vw 17.5vw / auto auto auto;
   grid-gap: 1vh;
   grid-row-gap: 5vh;
   margin-left: 0px;
  overflow: auto !important;
  white-space: normal !important;
}
.details1{
  position: relative;
  display: flex;
  top: -5vh;
  height: 100% !important;
  margin-bottom: 1vh;
  width: auto;
  overflow: auto;
}
.share{
  background-color: #3b5998;
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
.section input[type="radio"],
.section input[type="checkbox"]{
  display: none;
}
.container label {
  position: relative;
}
.container span::before,
.container span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.container span.radio:hover {
  cursor: pointer;
}
.citiesList{
    position: relative;
  top: 15vh;
  margin: 0;
  font-family: 'Kelson-Bold';
  color: white;
  font-size: 2vh;

}
.Targovishte, .Varna, .Plovdiv, .Burgas, .StaraZagora{
  display: none;
  position: relative;
  top: 20vh;
  margin: 0;
  font-family: 'Kelson-Bold';
  color: white;
  font-size: 2vh;

}
.Sofia{
  display: none;
  position: relative;
  top: 20vh;
  margin: 0;
  font-family: 'Kelson-Bold';
  color: white;
  font-size: 2vh;
  left: 0vw;
  width: 95vw;
  height: 70vh;
  overflow-x: visible;
}

.container span.radio::before {
  left: -3px;
  width: 5vh;
  height: 5vh;
  background-color: #A8AAC1;
  border-radius: 50px;
  
}
.container span.radio::after {
  left: 5px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: #A8AAC1;
  transition: left .25s, background-color .25s;
}
input[type="radio"]:checked + label span.radio::after {
  left: 5px;
  background-color: rgb(10,127,173);
}
input[type="radio"]:disabled + label span.radio::after {
  left: 5px;
  background-color: grey;
}
.radio{
  position: relative;
  padding-left: 10vw;
}
.menudots{
  position: absolute;
  font-family: Kelson-Bold;
  color: white;
  background-color:rgba(0,0,0,0);
  font-size: 5vh;
  top: 0vh;
  right: 5vw;
}
/* Dropdown Button */
.dropbtn {
  position: absolute;
  font-family: Kelson-Bold;
  top: -25vh;
  right: -90vw;
  color: white;
  font-size: 5vh;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgba(0,0,0,0.5);
  min-width: 160px;
  z-index: 1;
  top: -15vh;
  right: -90vw;
  border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  font-family: Kelson-Normal;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.categories{
  display: none;
  position: absolute;
  width: 90vw;
  height: 90vh;
  margin: 0;
  top: 5vh;
  left: 5vw;
  background-color:rgba(0,0,0,0.5);
  border-radius: 5px;
  color: white;
  font-size: 3vh;
  padding-top: 20vh;
}
h1, h2, h3 {
    display: inline;
    top:10vh;
    left:10vw !important;
}
.xit{
  border: 2px solid white;
  position: absolute;
  top: 2vw;
  right: 2vw;
  border-radius: 5000px;
}
.pickCinema{
  display: none;
}
.comments{
  position: relative;
  top: -15vh;
  left: 13vw !important;
  width: 50vw !important;
  height: 5vh !important;
  background: rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#mobile-advanced, #mobile-advanced a, #mobile-advanced .mega_menu_title {
text-align: center;}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
.lds-ripple{
  display: block;
    margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 60px;
}
.ip {
    width: 60px;
    height: 50px;
    background-color: grey;
}
.caption {
    display: block;
}